html{
    height: 100%;
}
body{
    font-size: 20px;
    font-family: monospace;
    height: inherit;
    background-color: rgb(50, 76, 124);
    position: relative;
}
#main{
    /*text-align: center;*/
    height: inherit;
}
#main{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button{
    width: 320px;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
    transition:all 0.2s ease-in 0s;
}
button{
    background: rgba(255,255,255,0.3);
}
input{
    width: 316px;
}
input:focus, button:hover, button:focus {
    outline: none !important;
    box-shadow: 0 0 7px black;
}
button{
    cursor:pointer;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.inline{
    display: inline-block;
}
#control{
    text-align: center;
    height: 100%;
}
#control>div{
    position: relative;
    display: inline-block;
    width: 49%;
    height: inherit;
}
#control form{
    top: 50%;
    margin-top: -200px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -190px;
}
#top-navigation{
    text-align: right;
    padding: 0 20px;
    color: lightgrey;
}
a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


#FlashBlock {
    left: 50%;
    margin-left: -200px;
    position: fixed;
    text-align: center;
    top: 100px;
    width: 400px;
}
#FlashBlock > div {
    background: none repeat scroll 0 0 chocolate;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 30px black;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding: 10px;
}


.forkme {
    display: block;
    position: absolute;
    top: 30px;
    left: -75px;
    font-family: monospace;
    background: #FAFAFA;
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -o-linear-gradient(#FAFAFA,#EAEAEA);
    background: -ms-linear-gradient(#FAFAFA,#EAEAEA);
    background: linear-gradient(#FAFAFA,#EAEAEA);
    color: black;
    height: 44px;
    width: 250px;
    text-decoration: none;
    text-align: center;
    font-size: 38px;
    line-height: 32px;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 1px solid #CACACA;

    transition: color ease 142ms;
}

.forkme span {
    display: block;
    text-transform: uppercase;
    position: absolute;
    left: 84px;
    top: 20px;
    font-size: 15px;
}

.forkme:hover {
    color: #2C6EB4;
}

