html{
    height: 100%;
}
body{
    font-size: 20px;
    font-family: monospace;
    height: inherit;
}
#cover{
    background: url("/css/images/bg0.jpg") /*no-repeat center center*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    -ie-filter: blur(10px);
    filter: blur(10px);

    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#main{
    /*text-align: center;*/
    height: inherit;
}
#main{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button{
    width: 320px;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
    transition:all 0.2s ease-in 0s;
}
button{
    background: rgba(255,255,255,0.3);
}
input{
    width: 316px;
}
input:focus, button:hover, button:focus {
    outline: none !important;
    box-shadow: 0 0 7px black;
}
button{
    cursor:pointer;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.inline{
    display: inline-block;
}
#control{
    text-align: center;
    height: 100%;
}
#control>div{
    position: relative;
    display: inline-block;
    width: 49%;
    height: inherit;
}
#control form{
    top: 50%;
    margin-top: -200px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -190px;
}
#FlashBlock {
    left: 50%;
    margin-left: -200px;
    position: fixed;
    text-align: center;
    top: 100px;
    width: 400px;
}
#FlashBlock > div {
    background: none repeat scroll 0 0 chocolate;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 30px black;
    color: #FFFFFF;
    margin-bottom: 5px;
    padding: 10px;
}